# MacOS
.DS_Store

# Built site
/.quarto/
/_site/
/_notebooks/
/_presentations/
db.zip

# Local quarto files
/_*.local
/.render.sh

# Local R files
.Renviron
.Rhistory
*.Rproj

# Cache
__pycache__
.jupyter_cache/
.ipynb_checkpoints/
.resources/
*_files/
/.luarc.json
*cache/
.ipython/**

# Data
*pheno_images*
*.csv

# Outputs
*.html

# sed
*.bak
.Rproj.user
