# MacOS
.DS_Store

# Built site
/.quarto/
/_site/

# Local quarto files
/_*.local
/.render.sh

# Cache
.jupyter_cache/
.resources/
*_files/
/.luarc.json
*cache/

# Data
*pheno_images*
*.csv

# Outputs
*.html