/*-- scss:defaults --*/
$body-bg: #ffffff;
$body-fg: #000000;

$navbar-bg: #f1f6f6;
$navbar-fg: #009245;

$sidebar-bg: rgb(12, 94, 78);
$sidebar-fg: #ffca2b;

$footer-bg: #000000;
$footer-fg: #f1f6f6;

/*-- scss:rules --*/
/* Make callout titles bigger */
.callout.callout-style-default > div.callout-header {
    font-size: 1.5rem;
}