/*-- scss:defaults --*/
$body-bg: #ffffff;
$body-fg: #000000;

$navbar-bg: #f1f6f6;
$navbar-fg: #009245;

$sidebar-bg: rgb(12, 94, 78);
$sidebar-fg: #ffca2b;

$footer-bg: #000000;
$footer-fg: #f1f6f6;

// mermaid subgraph background
$mermaid-fg-color--lightest:#FFFFFF;